<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fasm.NET" version="1.70.03" targetFramework="net48" />
  <package id="ILRepack.Lib.MSBuild.Task" version="2.0.18.1" targetFramework="net461" />
  <package id="MemorySharp" version="1.2.0" targetFramework="net48" />
  <package id="Microsoft.Build.Framework" version="15.9.20" targetFramework="net461" />
  <package id="Microsoft.Build.Utilities.Core" version="15.9.20" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="1.16.30" targetFramework="net461" developmentDependency="true" />
  <package id="NetCoreServer" version="2.0.4" targetFramework="net461" />
  <package id="Serilog" version="2.5.0" targetFramework="net461" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
</packages>